* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .div1 {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  
  button[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#0077B5;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  