body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}

.login {
	width: 300px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.login h2 {
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
	color: #333;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	color: #333;
}

input[type=password] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
	box-sizing: border-box;
}
input[type=date] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input[type=submit] {
	background-color: #008CBA;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.logo img {
  max-height: 80px;
  max-width: 100%;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

input[type=submit]:hover {
	background-color: #0077B5;
}

  #form-container {
    width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
  }
  h1 {
    text-align: center;
    color: #333;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input[type=text],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  input[type=submit] {
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #0077B5;
  }
  .login {
width: 300px;
margin: 0 auto;
margin-top: 50px;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
}

.login h2 {
margin-top: 0;
margin-bottom: 20px;
}
.tarih{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}